.question-form-detail {
  margin-top: 20px;
  padding-bottom: 10px;
}

.title-form {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 15px;
}

.name-of-topic {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
}

.instro-of-form {
  width: 100%;
  border: solid;
  border-width: thin;
  margin-top: 50px;
  padding: 22px;
  margin-bottom: 50px;
  font-style: italic;
}

.instro-of-form h3 {
  font-size: 18px !important;
}

.instro-content {
  text-align: left;
  line-height: 30px;
}