table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black !important;
  text-align: center !important;
  padding: 8px !important;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black !important;
  text-align: center !important;
  padding: 8px !important;
} */

/* table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
} */

/* tr:nth-child(even) {
  background-color: #dddddd;
} */