.td-table-create-question {
  border: solid;
  border-width: thin;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.th-table-question-view {
  padding-top: 5px;
  padding-bottom: 5px;
}

.title-question {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}

.custom-Select-antd .ant-select .ant-select-selector{
  text-align: center !important;
}